<?xml version="1.0"?>
<!--
 Copyright (c) 2013, CoreLogic, Inc.
 All rights reserved.

 Redistribution and use in source and binary forms, with or without 
 modification, are permitted provided that the following conditions are met:

 Redistributions of source code must retain the above copyright notice, 
 this list of conditions and the following disclaimer.
 Redistributions in binary form must reproduce the above copyright notice, 
 this list of conditions and the following disclaimer in the documentation 
 and/or other materials provided with the distribution.
 Neither the name of CoreLogic nor the names of its 
 contributors may be used to endorse or promote products derived from 
 this software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, 
 THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
 ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE 
 LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR 
 CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
 INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
 CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
 ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
 POSSIBILITY OF SUCH DAMAGE.
 -->
<configuration>
  <appSettings>
    <add key="corelogic.sws.sample.host" value="sws.corelogic.com" />
    <add key="corelogic.sws.sample.port" value="80" />
    <add key="corelogic.sws.sample.root" value="/api" />
    <add key="corelogic.sws.sample.version" value="/v3.0.0"/>
    <add key="corelogic.sws.sample.authentication.username" value="" />
    <add key="corelogic.sws.sample.authentication.password" value="" />
    <add key="corelogic.sws.sample.geocode.address" value="11902 Burnet Road" />
    <add key="corelogic.sws.sample.geocode.cityStateZip" value="Austin, TX, 78758" />
    <add key="corelogic.sws.sample.mapTile.height" value="256" />
    <add key="corelogic.sws.sample.mapTile.width" value="256" />
    <add key="corelogic.sws.sample.mapTile.layers" value="fass:flood" />
    <add key="corelogic.sws.sample.mapTile.styles" value="floodpolygonalt" />
    <add key="corelogic.sws.sample.mapTile.bbox" value="-91.109619,30.334954,-91.098633,30.344436" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>